[submodule "TRAClient/TRAClient/TorPlusPlus"]
	path = TRAClient/TRAClient/TorPlusPlus
	url = https://www.github.com/lj3d/TorPlusPlus
[submodule "TRAServer/imtui-tweaks"]
	path = TRAServer/imtui-tweaks
	url = https://github.com/LJ3D/imtui-tweaks
[submodule "TRAServer/TorRatServer/TorPlusPlus"]
	path = TRAServer/TorRatServer/TorPlusPlus
	url = https://github.com/LJ3D/TorPlusPlus
